<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Serocot</title>

        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="../assets/css/serocot.css" rel="stylesheet">

        <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/js/serocot.js"></script>

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

                <span class="brand">Serocot</span>

            </div>
          </div>
        </div>

        <div class="container">

          <div class="row">

            <div class="span4">
                <div class="well well-small well-stats">
                    <p><h4>Welcome to Serocot!</h4></p>
                    <i class="icon-pencil"></i> <b>Captchas Submitted</b>: 0 <br>
                    <i class="icon-ok"></i> <b>Captchas Used</b>: 0 <br>
                </div>
                                <div class="well well-small">

                    <form action="#" id="captcha-form">

                      <fieldset>

                        <h4>Captcha Input <a id="captcha-switch">(switch)</a></h4>

                        <img src="../assets/img/sample_1.jpg" class="captcha">

                        <div class="input-append">
                            <input type="text" name="captcha_response"> <input type="submit" value="Submit" class="btn">
                        </div>

                      </fieldset>

                    </form>

                </div>
            </div>
 <div class="span8">
    <div class="well well-small">
      <p>placeholder</p>
    </div>
  </div>


          </div>

          <hr>

            <footer class="footer">

                <div class="pull-right">
                    <p>Powered by Serocot</p>
                </div>

            </footer>

        </div>

    </body>

</html>
